* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}


body {
	@include calibri;
}


.icon {
	display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

button {
	display: inline-block;
	width: 100%;
	border: none;
	background: none;
	cursor: pointer;
}

ul li {
	list-style: none;
}

h2 {
	font-size: 26px;
	color: #000;
	background: #f5f7f9;
	padding: 7px 0;
	border: 1px solid #585858;
	border-radius: 12px;
	text-align: center;
	margin-bottom: 33px;
}

h3 {
	font-size: 24px;
	line-height: 20px;
	color: #000;
	margin-bottom: 10px;
}

p {
	font-size: 14px;
	color: #000;
}

.user-text {
	ul {
		margin: -10px 0 20px;
	}

	li {
		list-style: none;
		padding-left: 15px;
		position: relative;
		margin: 10px 0;

		&:before {
			display: inline-block;;
			content: '';
			width: 3px;
			height: 1px;
			background: #6b6b6b;
			position: absolute;
			left: 12px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	p {
		margin-bottom: 30px;
		padding-left: 12px;
	}
}
