.page-footer {
  background: #585858;
  padding: 13px 0 6px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @include atMobile {
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__item-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -80px;

    @include atMobile {
      margin: -15px -50px;
    }
  }

  &__item-li {
    padding: 15px 80px;

    @include atMobile {
      padding: 15px 50px;
    }
  }

  &__item {
    @include atMobile{
      max-width: 200px;
      margin: 0;
    };
  }

  &__list-item {
    margin-bottom: 18px;
  }

  &__link {
    font-size: 13px;
    color: #fff;
    transition: color .3s;

    &:hover {
      @include fromDesktop {
        color: #FF4545;
      }
    }
  }

  &__social {
    @include lessVerticalTablet{
      width: 100%;
      margin-top: 30px;
    }
  }
}
